h1 {
    font-size: 80px;
    color: aqua;
    text-align: center;
}

.page1 {
    font-size: 70px;
    color:blue
    text-align: center:

}

.page2 {
    font-size: 80px;
    color: brown;
    text-align: center;

}

.page3 {
    font-size: 80px;
    color: crimson;
    text-align: center;

}

.page4 {
    font-size: 90px;
    color: firebrick;
    text-align: center;

}

.page5 {
    font-size: 90px;
    color:darkgray;
    text-align: center;

}



